@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
}

.row {
    width: 70%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}